example/example-flow.json
[{"id":"489dfda7.736604","type":"tab","label":"Klik Aan Klik Uit","disabled":false,"info":""},{"id":"dcc94872.621da8","type":"http request","z":"489dfda7.736604","name":"Get AES","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://trustsmartcloud2.com/ics2000_api/account.php?action=login&email={{{email}}}&mac={{{mac}}}&password_hash={{{pwd}}}&device_unique_id={{{uuid}}}&platform=Android","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":120,"wires":[["267b0281.22413e"]]},{"id":"3ff8d990.7dda66","type":"inject","z":"489dfda7.736604","name":"Single shot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["42a212ce.7472ec"]]},{"id":"267b0281.22413e","type":"function","z":"489dfda7.736604","name":"process","func":"flow.set(\"aes_key\", msg.payload.homes[0].aes_key);\nflow.set(\"home_id\", msg.payload.homes[0].home_id);\n\nvar newMsg = {email: flow.get(\"email\"), mac: flow.get(\"mac\"), home_id: flow.get(\"home_id\"), pwd: flow.get(\"pwd\"), uuid: flow.get(\"uuid\") };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["28ce61f3.59a54e"]]},{"id":"28ce61f3.59a54e","type":"http request","z":"489dfda7.736604","name":"Get Sync","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://trustsmartcloud2.com/ics2000_api/gateway.php?action=sync&email={{{email}}}&mac={{{mac}}}&password_hash={{{pwd}}}&device_unique_id={{{uuid}}}&home_id={{{home_id}}}","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":120,"wires":[["eb190d66.65e7f"]]},{"id":"42a212ce.7472ec","type":"function","z":"489dfda7.736604","name":"","func":"flow.set(\"email\", \"email@domain.tld\");\nflow.set(\"pwd\", \"yourpassword\");\nflow.set(\"uuid\", \"01234567890\"); //can be anything\nflow.set(\"mac\", \"0012A3000000\"); //ICS2000 MAC address\n\nvar newMsg = { email: flow.get(\"email\"), pwd: flow.get(\"pwd\"), uuid: flow.get(\"uuid\"), mac: flow.get(\"mac\") };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["dcc94872.621da8"]]},{"id":"eb190d66.65e7f","type":"split","z":"489dfda7.736604","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":890,"y":120,"wires":[["88ad32fa.17be7"]]},{"id":"3fac73f8.1fdc6c","type":"debug","z":"489dfda7.736604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":120,"wires":[]},{"id":"88ad32fa.17be7","type":"function","z":"489dfda7.736604","name":"process","func":"var key = flow.get(\"aes_key\");\nvar newMsg = { key: key, payload: msg.payload.data };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["7a73c711.91cff8"]]},{"id":"90900588.36b0f8","type":"function","z":"489dfda7.736604","name":"create payload on","func":"var key = flow.get(\"aes_key\");\nvar newMsg = { key: key, payload: \"{\\\"module\\\":{\\\"id\\\":25561671,\\\"function\\\":0,\\\"value\\\":1}}\" };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":540,"wires":[["372c0283.074ebe"]]},{"id":"d02af399.e3e71","type":"inject","z":"489dfda7.736604","name":"Single shot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":540,"wires":[["90900588.36b0f8"]]},{"id":"7a73c711.91cff8","type":"decrypt-kaku","z":"489dfda7.736604","name":"","key":"","x":1160,"y":120,"wires":[["8b5d1e1e.c7ac8"]]},{"id":"57381295.545e1c","type":"function","z":"489dfda7.736604","name":"prepare header","func":"let buff = Buffer.from(msg.payload, 'base64');\n\nvar output = {\n    FrameNumber: 1,\n    SegmentNumber: 0,\n    MessageType: 128,\n    MAC: parseInt(flow.get(\"mac\"),16),\n    MagicNumber: 3055984135,\n    GlobalVersion: 41371,\n    SettingsVersion: 6,\n    DeviceStateVersion: 19895,\n    DeviceDataVersion: 140,\n    AreaDataVersion: 84,\n    RuleStateVersion: 48,\n    RuleDataVersion: 2,\n    SceneDataVersion: 16,\n    EntityID: 25561671,\n    SmartDeviceID: 0,\n    EntityTrackerID: 0,\n    DataLength: buff.length\n};\n\nvar newMsg = {payload: output, data: buff};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":540,"wires":[["ac7a78a2.a9f198"]]},{"id":"5ae8db4a.bb12d4","type":"debug","z":"489dfda7.736604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":540,"wires":[]},{"id":"a72ce58d.cdacb8","type":"udp out","z":"489dfda7.736604","name":"","addr":"192.168.5.20","iface":"","port":"2012","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1570,"y":580,"wires":[]},{"id":"ac7a78a2.a9f198","type":"binary","z":"489dfda7.736604","name":"generate header","property":"payload","pattern":"b8 => FrameNumber,\nb8 => SegmentNumber,\nb8 => MessageType,\nb48 => MAC,\nl32 => MagicNumber,\nl16 => GlobalVersion,\nl16 => SettingsVersion,\nl16 => DeviceStateVersion,\nl16 => DeviceDataVersion,\nl16 => AreaDataVersion,\nl16 => RuleStateVersion,\nl16 => RuleDataVersion,\nl16 => SceneDataVersion,\nl32 => EntityID,\nl16 => SmartDeviceID,\nx16,\nl32 => EntityTrackerID,\nl16 => DataLength\n","x":1060,"y":540,"wires":[["1e79d557.f66f9b"]]},{"id":"1e79d557.f66f9b","type":"function","z":"489dfda7.736604","name":"combine header and payload","func":"msg.payload = Buffer.concat([msg.payload, msg.data], (msg.payload.length + msg.data.length)); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":540,"wires":[["5ae8db4a.bb12d4","a72ce58d.cdacb8"]]},{"id":"372c0283.074ebe","type":"encrypt-kaku","z":"489dfda7.736604","name":"","key":"","x":700,"y":540,"wires":[["57381295.545e1c"]]},{"id":"f32ccf3f.ef716","type":"inject","z":"489dfda7.736604","name":"Single shot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":580,"wires":[["7aa7d25b.a8c0bc"]]},{"id":"7aa7d25b.a8c0bc","type":"function","z":"489dfda7.736604","name":"create payload off","func":"var key = flow.get(\"aes_key\");\nvar newMsg = { key: key, payload: \"{\\\"module\\\":{\\\"id\\\":25561671,\\\"function\\\":0,\\\"value\\\":0}}\" };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":580,"wires":[["372c0283.074ebe"]]},{"id":"8b5d1e1e.c7ac8","type":"json","z":"489dfda7.736604","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":120,"wires":[["3fac73f8.1fdc6c"]]}]